# General ignores (global and local junk)
.DS_Store
Thumbs.db
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.vscode/           

# LaTeX 
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

output/
*.pdf
*.png
*.docx

data/*
!data/README.md
!data/example_sample_data.csv
!data/.gitkeep  # 一个空文件，用于让 Git “看见”一个空文件夹