# General ignores (global and local junk)
.DS_Store
Thumbs.db
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.vscode/
.Rproj           

# LaTeX 
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.xml
*.bcf

# Ignore PDFs globally
*.pdf
*.docx
*.rds

output/**

!output/**/

!output/**/figures/**/*.pdf

!output/fig1_classical_vs_mis_demo.pdf

!output/**/tables/**/*.tex

data/*
!data/README.md
!data/example_sample_data.csv
!data/.gitkeep  

# Remote
*.sh
.positai

# app
application/**
!application/**/
!application/**/*.pdf
!application/**/*.tex
!application/**/*.md